.categories {
	/*background: linear-gradient(rgba($primary, 0.5), rgba($third, 0.7)), url('app/assets/images/book.jpg') top center no-repeat;*/
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('app/assets/images/book.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 200px;

	&__list {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	&__list--item {
		display: inline-block;
		padding: 10px;
		font-size: 1.7rem;

		&:not(:first-child)::before {
			content: "•";
			margin-right: 10px;
			color: $mainBlack;
		}

		& a {
			color: $mainBlack;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

			&:hover {
				color: #fff;
			}
		}
	}
}
