.categories {
	background: linear-gradient(rgba($primary, 0.9), rgba($primary, 0.9)), url('app/assets/images/book.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
	border-bottom: 5px solid $third;

	&__list {
		text-align: center;
		padding: 0;
		margin-top: -50px;

		@mixin atMedium {
			margin-top: -20px;
		}

		@mixin atLarge {
			margin-top: 0;
		}
	}

	&__list--item {
		display: block;
		font-size: 1.3rem;
		padding-bottom: 3px;

		@mixin atMedium {
			display: inline-block;
			padding: 10px;
			font-size: 1.7rem;

			&:not(:first-child)::before {
				content: "•";
				margin-right: 10px;
				color: #fff;
			}
		}

		& a {
			color: #fff;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
			transition: color .3s ease;

			&:hover {
				color: $third;
			}
		}
	}
}
