.footer {
	background-color: $primary;
	margin-bottom: -20px;
	border-top: 5px solid $third;

	@mixin maxMedium {
		.footer__social {
			padding: 0;
			text-align: center;
		}
	}

	&__content {
		
		&--description {
			color: #fff;
		}
	}

	&__info {
		text-align: center;
	}
}

.footer__social {
	list-style: none;
}

.footer__social li {
	position: relative;
	display: inline-block;
	margin-left: 3px;
	margin-top: -3px;
}

.footer__social li a {
	font-size: 2.4rem;
	color: #fff;
	transition: all .3s ease;

	&:hover {
		color: $third;
	}
}