.footer {
	/*background-color: rgba($mainRed, .7);*/
	background-color: $mainGrey;
	margin-bottom: -20px;
	/*position: relative;*/

	&__content {
		
		&--description {
			color: #fff;
		}
	}

	&__info {
		text-align: center;
	}
}

.social-menu li:last-child {
	display: none;
}

.social {
	list-style: none;
}

.social li {
	position: relative;
	display: inline-block;
}

.social li a:before {
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	font-family: 'fontAwesome';
	font-size: 40px;
	color: #fff;
	content: '\f08e';
}

.social li a[href*="facebook.com"]::before{content:'\f082';}
.social li a[href*="plus.google.com"]::before{content:'\f0d4';}
.social li a[href*="twitter.com"]::before{content:'\f081';}
.social li a[href*="github.com"]::before{content:'\f09b';}