.header {
	background-color: rgba(255, 255, 255, .7);
	height: 70px;
	width: 100%;
	position: absolute;
	position: fixed;
	z-index: 10;
	transition: all .3s ease;

	&--darker {
		background-color: rgba($primary, .9);
		box-shadow: 5px 5px 3px -3px rgba($primary, .7);

		.header__menu ul li a {
			color: #fff;

			&:hover {
				color: $mainBlack;
			}
		}
	}

	&--wrapper {

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
			max-width: 1236px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__logo img {
		float: left;
		/*height: 70px;*/
		position: absolute;
		top: -30px;
		transition: all .3s ease;
		
		@mixin atMedium {
			float: left;
			/*height: 70px;*/
			position: absolute;
			top: -30px;

			.header--darker & {
				transform: scale(.5);
				top: -65px;
				left: 20px;
			}
		}
	}

	&__menu {
		float: right;

		& ul {
			padding: 0px;
			@mixin clearfix;
		}

		& li {
			list-style: none;
			padding: 10px 0;
			margin-left: 15px;
			float: left;
			text-decoration: none;
			font-size: 1.2rem;
			/*transform: skew(-20deg);
			background-color: lightgreen;*/
			padding: 10px;			
		}

		& a {
			color: $primary;
			transition: color .3s ease;

			&:hover {
				color: $mainBlack;
			}
		}
	}
}
