.header {
	background-color: $white;
	height: 70px;
	width: 100%;
	position: absolute;
	position: fixed;
	z-index: 10;
	transition: all .3s ease-in-out;
	border-bottom: 1px solid rgba($primary, .2);

	&--darker {
		height: 60px;
		/*background-color: rgba($primary, .9);*/
		/*box-shadow: 5px 5px 3px -3px rgba($primary, .7);*/
		
		& .header__menu ul li {

			@mixin atMedium {
				padding: 4px 10px 5px 5px;
			}
		}

		.header__menu ul li a {
			/*color: #fff;

			&:hover {
				color: $mainBlack;
			}*/
		}

		.header__toggle--middle, 
		.header__toggle::before, 
		.header__toggle::after {
			transition: all .3s ease;
			background-color: white;
		}
	}

	@mixin maxMedium {
		height: 38px;
	}

	&--wrapper {

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
			max-width: 1236px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__logo img {
		float: left;
		position: absolute;
		top: -30px;
		transition: all .1s ease-in-out;

		@mixin atMedium {
			float: left;
			position: absolute;
			top: -30px;
			left: 50px;

			.header--darker & {
				transform: scale(.4);
				top: -70px;
				left: 20px;
			}
		}
	}

	&__menu {
		float: right;

		& ul {
			padding: 0px;
			@mixin clearfix;
		}

		& li {
			list-style: none;
			padding: 10px 0;
			float: left;
			text-decoration: none;
			font-size: 0.9rem;
			padding: 10px;	
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			line-height: 1.25;
		}

		& a {
			color: $primary;
			transition: color .3s ease;

			&:hover {
				color: $mainBlack;
			}
		}
	}
}
