.header__toggle {

	width: 22px;
	height: 14px;
	position: absolute;
	z-index: 20;
	top: 10px;
	right: 10px;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $primary;
		transform-origin: 0 0;
		transition: transform .3s ease-out;
	}

	&--middle {
		content: "";
		position: absolute;
		top: 7px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $primary;
		transition: all .15s ease-out;
		transform-origin: 0 50%;
	}

	&::after {
		content: "";
		position: absolute;
		top: 14px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $primary;
		transform-origin: 0 100%;
		transition: all .3s ease-out;
	}

	&--close-x {
		&::before {
			transform: rotate(45deg); /*405deg 45*/
		}

		.header__toggle--middle {
			opacity: 0;
			left: -300px;
		}

		&::after {
			transform: rotate(-45deg) translateY(1px); /*315 -45deg*/
		}
	}

	@mixin atMedium {
		display: none;
	}
}

@mixin maxMedium {

	.header__menu {
		width: 100%;
		right: 0;
		margin-top: -32px;
	}

	.menu-main-menu-container {
		height: 0px;
	}

	.header__logo img {
		height: 100px;
		top: -15px;
		z-index: 99;
	}

	.header__menu ul {
		background-color: $third;
		margin-top: 70px;
		overflow: hidden;
		/*display: none;*/
		transform: translateX(100%);
		transition: all .3s ease;
	}

	.header__menu ul.open {
		/*display: block;*/
		transform: translateX(0);
		/*box-shadow: 10px 10px 6px -6px rgba($primary, .7);*/
		
	}

	.header__menu ul li {
		float: none;
		text-align: center;
		margin: 0;
		border-bottom: 1px solid rgba($primary, .1);

		& a {
			color: #fff;
		}
	}

	.header__menu ul li:last-child {
		border-bottom: none;
	}
}