.section {
	padding: 4.5rem 0;

    &--about {
        padding-bottom: 1rem;
        padding-top: 2rem;

        @mixin atMedium {
            padding-bottom: 3rem;
            padding-top: 4.5rem;
        }
    }

    &--latest-posts {
        padding-top: 3rem;
        padding-bottom: 2rem;

        @mixin atMedium {
            padding-top: 4.5rem;
            padding-bottom: 0;
        }
    }

    &--pagination {
        padding: .5rem;
        background-color: $third;
        color: $mainBlack;
        text-align: center;
        margin-top: 0;
        width: 300px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;

        @mixin atMedium {
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
    }
}

.section-title {
	position: relative;
    width: auto;
    height: auto;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 0;

    @mixin atMedium {
        font-size: 5rem;
    }

    &--base {
    	color: $mainGrey;
    }

	&--shadow {
	    font-size: 3.5rem;
	    font-weight: 900;
	    text-transform: uppercase;
	    left: 0;
	    opacity: 0.05;
	    position: absolute;
        bottom: 0;

        @mixin atMedium {
            font-size: 8rem;
            top: -45px;
        }
	}

    &--footer {
        color: #FFF;
    }
}

.section-title::after {
    position: relative;
    content: "";
    display: block;
    width: 55px;
    height: 4px;
    /*margin: 15px 0 20px;*/
    top: -5px;
    background-color: $mainBlack;
}