.single-post {
	
	& h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	& .section {
		padding: 2rem 0 1rem 0;
	}

	& .article-category a {
		background-color: $mainBlue;
		color: #fff;
		font-size: .8rem;
		border-radius: 8px;
		padding: 3px 5px;
		transition: all .3s ease;
	}

	& .article-category a:nth-child(odd) {
		background-color: $secondary;
	}

	& .article-category a:hover {
		background-color: $primary;
	}
}

.article-divider {
	content: "";
    display: block;
    height: 4px;
    width: 35px;
    background-color: $third;
    margin-bottom: 2rem;
}



